@use '../../assets/mixins/hover.scss' as *;
@use '../../assets/mixins/pseudo.scss' as *;
@use '../../assets/mixins/responsive.scss' as *;
@import '../../Styles/colors.css';

.navbar {
  background-color: var(--color-bg-dark);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  @include responsive(tablet) {
    padding-inline: var(--spacing-xl);
  }
}

.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--spacing-md);
  @include responsive(desktop) {
    max-width: 1440px;
    margin-inline: auto;
  }
}

/* Menu */
.navbar__links {
  border-block: 4px solid var(--color-accent);
  position: absolute;
  top: 80px; /* exactly below navbar */
  left: 0;
  right: 0;
  background: var(--color-bg-dark);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
  transition:
    transform var(--transition-normal),
    opacity var(--transition-normal);

  &.navbar__links--open {
    transform: scaleY(1);
    opacity: 1;
    pointer-events: auto;
    padding: var(--spacing-md) 0;
  }

  /* laptop+: horizontal static menu */
  @include responsive(laptop) {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    background: transparent;
    padding: 0;
    transform: none;
    opacity: 1;
    pointer-events: auto;
    transition: none;
    border-block: none;
  }
}

.navbar__link {
  color: #fff;
  font-size: var(--font-size-base);
  font-weight: 500;
  padding: 0.25rem 0.75rem;
  transition: color var(--transition-fast);
  padding-inline: var(--spacing-lg);

  @include responsive(tablet) {
    padding-inline: var(--spacing-2xl);
  }

  @include responsive(laptop) {
    padding-inline: var(--spacing-xs);
  }

  @include hover {
    color: var(--color-accent);
  }
}

/* Hamburger */
.navbar__hamburger {
  background-color: var(--color-accent);
  width: 80px;
  height: 80px;
  position: relative;
  transition: all var(--transition-normal);

  @include responsive(laptop) {
    display: none;
  }
}

.navbar__hamburger-line {
  position: absolute;
  top: 38px;
  left: 24px;
  width: 32px;
  height: 4px;
  background-color: var(--color-bg-light);
  border-radius: 2px;
  transition: all var(--transition-normal);

  &::before {
    @include pseudo(32px, 4px) {
      top: -12px;
      left: 0;
      border-radius: 2px;
      background-color: var(--color-bg-light);
    }
  }
  &::after {
    @include pseudo(32px, 4px) {
      top: 12px;
      left: 0;
      border-radius: 2px;
      background-color: var(--color-bg-light);
    }
  }
}

/* Hamburger animation when open */
.navbar__hamburger--open .navbar__hamburger-line {
  background-color: transparent;

  &::before {
    transform: translateY(12px) rotate(45deg);
  }
  &::after {
    transform: translateY(-12px) rotate(-45deg);
  }
}
